# Prerequisites
*.d

# Object files
*.o
*.ko
*.obj
*.elf

# Linker output
*.ilk
*.map
*.exp

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

# Debug files
*.dSYM/
*.su
*.idb
*.pdb

# Kernel Module Compile Results
*.mod*
*.cmd
.tmp_versions/
modules.order
Module.symvers
Mkfile.old
dkms.conf

# Ignore backtrac dumps
*.btr

# Ignore data files
Data/*
Data
Sashas_Work/*
Sashas_Work
Solver/bin/*
Solver/output/*
Solver/obj/*
Plotting/__pycache__/
# ./Sashas_Work/codes/*.pdf
# ./Sashas_Work/codes/*.png
# ./Sashas_Work/codes/*.txt
# ./Sashas_Work/codes/.ipynb_checkpoints
# ./Sashas_Work/codes/Data_Old/*
# ./Sashas_Work/codes/Data_Temp/*
# ./Sashas_Work/codes/Updated_Codes/*.pdf
# ./Sashas_Work/codes/Updated_Codes/*.png
# ./Sashas_Work/codes/Updated_Codes/*.txt
# ./Sashas_Work/codes/Updated_Codes/.ipynb_checkpoints


